include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include requirements.txt
recursive-include abi_markdowner *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
recursive-exclude * .DS_Store
exclude venv
exclude .git
exclude .gitignore
exclude examples
exclude tests
exclude *.sh
